@model LexiconLMS.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityType.ActivityTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityType.ActivityTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Module.ModulName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.ModulName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@{
    ViewBag.Title = "Upload";
}
<h2>Upload</h2>


@section scripts {
    <script>

        $(document).ready(function () {
            $('#btnUploadFile').on('click', function () {
                //alert("Jävlar!");
                var data = new FormData();
                var files = $("#fileUpload").get(0).files;
                data.append('activityId', '@Model.Id');
                // Add the uploaded image content to the form data collection
                if (files.length > 0) {
                    data.append("UploadedImage", files[0]);
                }
                // Make Ajax request with the contentType = false, and procesDate = false
                var ajaxRequest = $.ajax({
                    type: "POST",
                    //url: "Activities/UploadIndex",
                    url: '@Url.Action("UploadIndex", "Activities")',
                    processData: false,
                    contentType: false,

                    data: data
                });
                ajaxRequest.done(function (xhr, textStatus) {
                    // Do other operation
                });
            });
        });
    </script>
}
<input type="file" name="FileUpload" id="fileUpload" /><br />
<input id="btnUploadFile" type="button" value="Upload File" /><br />

@Html.ActionLink("Documents", "Downloads")

