@model IEnumerable<LexiconLMS.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActivityType.ActivityTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Module.ModulName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityType.ActivityTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Module.ModulName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
