@model LexiconLMS.Models.Modul


@{
    ViewBag.Title = "Skapa ny Modul";

    if (ViewData.ContainsKey("courseName") == false)
    {
        <h4>Ny modul</h4>
    }else {
        var startDate = @ViewData["coStartDate"].ToString();
        var endDate = @ViewData["coEndDate"].ToString();
        <h4>Ny modul till kursen @ViewData["courseName"] @startDate.Substring(0,10) - @endDate.Substring(0, 10)</h4>
    }
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Modul</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ModulName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModulName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ModulName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModulDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModulDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ModulDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModulStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModulStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ModulStart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModulEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModulEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ModulEnd, "", new { @class = "text-danger" })
            <div id="validationWarning">Modulens datum måste ligga inom kursens datum</div>
            </div>
        </div>
@{ 
    if (ViewData.ContainsKey("courseName") == false){ 
        <div class="form-group">
            @Html.LabelFor(model => model.Courseid, "Courseid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Courseid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Courseid, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    else
    {
        var Courseid = ViewData["Courseid"];
        @Html.Hidden("Courseid")        
        <input type="hidden" id="txtCoStartDate" value='@ViewData["coStartDate"]' />
        <input type="hidden" id="txtCoEndDate" value='@ViewData["coEndDate"]' />

    }
}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnSubmit" value="Skapa" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>

    @Html.ActionLink("Tillbaka", "Index", "Courses")
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            //alert("Heja");
            var coStartDate = $("#txtCoStartDate").val();
            var coEndDate = $("#txtCoEndDate").val();
            var modulStart = $("#ModulStart").val();
            var modulEnd = $("#ModulEnd").val();

            if (modulStart < coStartDate || modulStart > coEndDate || modulEnd < coStartDate || modulEnd > coEndDate) {
                $("#validationWarning").show();
                $("#validationWarning").css('display', 'inline-block');
                //alert("Satan vad datum var fel!");
                return false;
            } else {
                alert("Bravo!!!");
            }



        });

    });
</script>


