@model LexiconLMS.Models.Modul
<hr/>
@{
    ViewBag.Title = "Details";
}

<h2>Module Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ModulName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModulName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModulDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModulDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModulStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModulStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModulEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModulEnd)
        </dd>

    </dl>
</div>
<hr/>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ModulName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<h4>Activities</h4>
@foreach (var item in ViewBag.ModulActivities)
{
    <div>@(item.ActivityName)</div>
}