@model IEnumerable<LexiconLMS.Models.Modul>

@{
    ViewBag.Title = "List Of Modules";
}

<h2>List Of Module</h2>

<p>
    @Html.ActionLink("Create New Modul", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModulName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModulDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModulStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModulEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ModulName, "Details", new { id = item.Id })
            @*@Html.DisplayFor(modelItem => item.ModulName)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModulDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModulStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModulEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>



