@model List<LexiconLMS.Models.Modul>
<hr />
@{
    ViewBag.Title = "List Of Modules in the course";
}

<h3>Details</h3>

<div>
    <h4> @TempData["course"] Course</h4>

    <h5>@TempData["courseDescription"]</h5>

    <hr />

    <h4>Moduls:-</h4>
    <ul>
    
        @foreach (var item in Model)
        {
            <li>
                <a href="~/Moduls/Details/@item.Id">@item.ModulName</a>
            </li>
        }
    </ul>
    <hr />
</div>
<p>
    @Ajax.ActionLink("Edit", // <-- Text to display
                 "Edit", // <-- Action Method Name
                 new { id = Model.CourseId },
                 new AjaxOptions
                 {
                     UpdateTargetId = "workspace", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CourseId })*@ |


    @Html.ActionLink("Back to List", "Index" )

</p>
<h4>Modules</h4>
@foreach (var item in ViewBag.CourseModuls)
            {
    <div>@(item.ModulName)</div>
}