@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Kursdetaljer";
}

<h3>Detaljer</h3>

<div>
    <h4>@Html.DisplayFor(model => model.CourseName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Ajax.ActionLink("Edit", // <-- Text to display
                 "Edit", // <-- Action Method Name
                 new { id = Model.CourseId },
                 new AjaxOptions
                 {
                     UpdateTargetId = "workspace", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })
    |


    @Html.ActionLink("Tillbaka", "Index")

</p>
<h4>Modules</h4>
<div class="list-group">
    @foreach (var item in ViewBag.CourseModuls)
            {
        @Ajax.ActionLink((string)item.ModulName, // <-- Text to display
                 "Details", // <-- Action Method Name
                 "Moduls", // <--- Controller name
                 new { id = item.Id },
                 new AjaxOptions
                 {
                     UpdateTargetId = "workspace", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 },
                 new { @class = "list-group-item" }
                 )
    }
</div>
<h3>Upload</h3>
@using (Html.BeginForm())
{
    @Html.DropDownList("DocumentTypeId", null, htmlAttributes: new { @class = "form-control" })

    <script>

        $(document).ready(function () {
            $('#btnUploadFile').on('click', function () {
                //alert("Jävlar!");
                var dti = $('#DocumentTypeId').val();
                //alert(dti);
                var data = new FormData();
                var files = $("#fileUpload").get(0).files;
                data.append('courseId', '@Model.CourseId');
                data.append('documentTypeId', dti);
                // Add the uploaded image content to the form data collection
                if (files.length > 0) {
                    data.append("UploadedImage", files[0]);
                }
                // Make Ajax request with the contentType = false, and procesDate = false
                var ajaxRequest = $.ajax({
                    type: "POST",
                    //url: "Activities/UploadIndex",
                    url: '@Url.Action("UploadIndex", "Courses")',
                    processData: false,
                    contentType: false,

                    data: data
                });
                alert("Filen uppladdad!");
                ajaxRequest.done(function (xhr, textStatus) {
                    // Do other operation
                });
        });
    });
    </script>

    <input type="file" name="FileUpload" id="fileUpload" /><br />
    <input id="btnUploadFile" type="button" value="Upload File" /><br />

}
@foreach (var item in ViewBag.UserCourse)
{
    <div>@item.UserName</div>
}

@Ajax.ActionLink("Ny modul", // <-- Text to display
                 "Create", // <-- Action Method Name
                 "Moduls", // <--- Controller name
                 new { id = Model.CourseId },
                 new AjaxOptions
                 {
                     UpdateTargetId = "workspace", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 }
                 )