@model List<LexiconLMS.Models.Modul>

@{
    ViewBag.Title = "List Of Modules in the course";
}

<h2>Details</h2>

<div>
    <h4>Modules in the Course</h4>
    <hr />
    @*<dl class="dl-horizontal">*@
        @*<dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>*@

    <ul>
        @foreach (var item in Model)
        {
            <li>
                @item.ModulName
            </li>
        }



    </ul>

</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
