@model List<LexiconLMS.Models.Modul>

@{
    ViewBag.Title = "Index";
}
<hr />

<h3> Hallo @TempData["name"]!</h3>
<hr />

<h5>You are enrolled in the following course:</h5><h3>@TempData["courseName"] </h3>

<h5>Course Start: @TempData["CourseStart"] </h5>
<h5>Course End: @TempData["courseEnd"]</h5> 
   <hr />
<h3>List of Moduls in your course</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li> @Html.ActionLink(item.ModulName, "Details", "Moduls", new { id = item.Id }, null)</li>   
           
        }
    </ul>

<hr/>

