@model List<LexiconLMS.Models.Modul>

@{
    ViewBag.Title = "Student Index";
}

<div class="container-fluid main-container container-xs-height" id="main-container">
    <div class="row row-xs-height">
        <div class="col-sm-3 col-md-2 sidebar col-xs-height">
            @*list of all courses goes here*@
            <h4>Kurs för @TempData["name"]</h4>

            <hr id="coursesHR" />

            <div class="list-group">
                @*@Html.ActionLink(TempData["courseName"].ToString(), 
                   "Index", 
                   "Student", 
                   new { @class = "list-group-item" })*@
                <a href="@Url.Action("Index", "Student")" class="list-group-item">@TempData["courseName"]</a>


</div>

            
        </div>
        <div class="col-sm-9 col-md-10 main col-xs-height">

            @*clicked links are displayed here*@
            <div id="workspace">

                <h3>Kurs:@TempData["courseName"] </h3>
                <h5>Kursbeskrivning:@TempData["courseDescription"]</h5>

                <h5>Course Start: @TempData["CourseStart"] </h5>
                <h5>Course End: @TempData["courseEnd"]</h5>

                <h3>Kursmoduler</h3>
                
                    <div class="list-group">
                        @foreach (var item in Model)
                        {
                            @Ajax.ActionLink(item.ModulName,
                               "Details",
                               "Moduls",
                               new { id = item.Id },
                               new AjaxOptions { UpdateTargetId = "workspace" },
                               new { @class = "list-group-item" })
                        }
                        
                    </div>

            </div>

        </div>

    </div>
</div>
